body, html {
    height: 100%;
    margin: 0;

    line-height: 1.8em;
    color: #665;
    scroll-behavior: smooth;
  
  }
  
  .headimg{
      position: center;
      opacity: 1;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      image-resolution: 70%;
  }

  nav{
    font-size: 200px;
    font-weight: 30px;
    font: "Terminal";
    color: #665;
        
}

a:link{
  color: white;
}

a:visited{
  color: white;
}

a.body2{
    color: black
}

v.body2{
    color: black
}

ul{
    list-style: none;
    text-align: center;
    margin-top: 0px;
    font: 'Terminal';
}

ul li{
    display: inline;
    padding: 40px;
    font-size: x-large;
    color:#665;
}

.headimg{
    background-image: url("/IMAGES/rose\ gif.gif");
    min-height: 100%;
}

.headimgtxt{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #fff;
    font: "Lato";
    font-size: 120px;
    letter-spacing: 50px;
    text-transform: uppercase;
}

.holdingcontainer {
    width: 1500px;
    max-width: 90%;
    height: 500px;
    display: flex;
    box-sizing: content-box;
    flex-direction: column;
    padding-left: 50px;
    margin-bottom: 100px;
    font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #665;
  }

  .holdingcontainer2 {
    width: 1500px;
    max-width: 90%;
    height: 700px;
    display: flex;
    box-sizing: content-box;
    flex-direction: column;
    padding-left: 50px;
    margin-bottom: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #665;
  }

  .post-form{
    margin:0;
    padding: 0;
    box-shadow: border-box;
    font-family:'Roboto', sans-serif;
  }
  
  .wrapper{
  
    top: 50%;
    width: 100%;
    padding: 0 20px;
  }
  
  .post-form{
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
  }
  
  .input-fields,
  .post{
  max-width: 48%;
  }
  
  .input-fields .input, .description textarea{
    margin: 10px 0;
    }
  
  .description textarea {
    max-width: 300px;
    max-height: 150px;
    padding-bottom: 50px;
  }
  
  #btn{
  border: 0;
  background: rgb(1, 48, 36);
  padding: .5rem;
  color: white;
  margin: 1rem 0;
  width: auto;
  text-transform: uppercase;
  cursor: pointer;
  transition: .5s;
  background: ease;
      
  
  }
  
  .logo-text{
      font-size: 60px;
      text-transform: uppercase;
      letter-spacing: 50px;
      text-align: center;
    }
  
  .footer {
      background: #fff;
      width: 100%;
      font-family: "brandon"-grotesque;
      font-display: #000;
      
    }
    
  .footer .footer-content {
      flex: 1;
      font-family: "terminal";
      height: 250px;
      width: 100%;
      text-align: center;
    }
  .fas-fa-envelope{
        font-size: 20px;
        text-align: center;
       }
    
  .parallax-container {
      -webkit-overflow-scrolling: touch;
    }
    
  @media (max-width: 568px) {
    .holdingcontainer {
      flex-direction: column;
      }
    }
  
  @media (max-width: 568px) {
    .holdingcontainer2 {
      flex-direction: column;
      }
   }
  
  @media (max-width: 568px) {
    .holdingcontainer3 {
      flex-direction: column;
      }
    }
    
  @media (max-width: 568px) {
    .bodyimg1,
    .bodyimg2,
    .bodyimg3 {
      background-attachment: scroll;
      }
    }
  
  