<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
    <link rel="stylesheet" href="../CSS/authors-style.css"/>
</head>
<body>
<div class ="headimg">
    <nav>
        <ul>
            <li><a th:href="@{'../'}" style="text-decoration: none;">Home</a></li>
            <li><a th:href="@{'../posts/'}" style="text-decoration: none;">Posts</a></li>
            <li><a th:href="@{'../categories/'}" style="text-decoration: none;">Categories</a></li>
            <li><a th:href="@{'../tags/'}" style="text-decoration: none;">Tags</a></li>
        </ul>
    </nav>
</div>
<div class="headimgtxt">
    <span class="border trans">Authors</span>
</div>

<main>
    <div class="body2" a link="black" vlink="black">
        <div class="holdingcontainer">
            <ul th:each="author : ${authors}">
                <h2 th:text="${author.name}">Garret K.</h2>
                <li th:each="post : ${author.posts}">
                    <a class="body2" th:text="${post.title}" th:href="@{'../posts/'+${post.title}}" style="text-decoration: none;">Title Of A Post</a>
                </li>
            </ul>
        </div>
    </div>
</main>

<div class="wrapper">
    <form class="post-form" action="/authors/add" method="POST">
        <div class="input-fields">
            <input type="text" class="input" name="name" placeholder="Full Name">

        </div>

        <button class="btn" type="submit" id="submit">Submit</button>
    </form>


</div>

<footer>
    <h1 class="logo-text"><span>Fight </span>Blog</h1>
    <span
    ><i class="fas-fa-envelope"></i> &nbsp;
                  e-mail@notyet.com</span>
    <close> Images Owned by the UFC for ZUFFA. Not for profit use.</close>
</footer>

</body>
</html>