<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I'll Name This Blogcast Later</title>
    <link rel="stylesheet" href="CSS/home-style.css"/>
</head>

<body a link="white" vlink="white">
<div class ="headimg">
    <nav>
        <ul>
            <li><a th:href="@{'../posts/'}" style="text-decoration: none;" a link="white" vlink="white">Posts</a></li>
            <li><a th:href="@{'../authors/'}" style="text-decoration: none;" a link="white" vlink="white">Authors</a></li>
            <li><a th:href="@{'../categories/'}" style="text-decoration: none;" a link="white" vlink="white">Categories</a></li>
            <li><a th:href="@{'../tags/'}" style="text-decoration: none;" a link="white" vlink="white">Tags</a></li>
        </ul>
    </nav>
</div>

<div class="headimgtxt">
    <span class="border trans">
      IIIITT'S THYME!
    </span>
</div>

<div class="holdingcontainer">

    <h1>Legendary Clash...</h1>
    <p>"... some more dudes fought, one dude hit another,
        then another hit then a take down and submission attempt. other
        guy escaped and then hababalooey thank you Suzy the fight was over.
    </p>

</div>
<a class="button1">Read More</a><br />

<div class="bodyimg1">
    <div class="bodyimgtext">MMA Blog
    </div>
</div>

<div class="holdingcontainer2">
    <h1>Crazy KO..</h1>
    <p>"... some more dudes fought, one dude hit another,
        then another hit then a take down and submission attempt. other
        guy escaped and then hababalooey thank you Suzy the fight was over.
    </p>
</div>
<a class="button2">Read More</a>


<div class="bodyimg2">
    <div class="bodyimgtext2">FIGHT REVIEWS
    </div>
</div>

<div class="holdingcontainer3">

</div>
<footer>
    <h1 class="logo-text"><span>Fight </span>Blog</h1>
    <span
    ><i class="fas-fa-envelope"></i> &nbsp;
              e-mail@notyet.com</span>
    <close> Images Owned by the UFC for ZUFFA. Not for profit use.</close>
</footer>
</body>
</html>