<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="../CSS/posts-style.css"/>
</head>
<body a link="black" vlink="black">
<div class ="headimg">
    <nav >
        <ul>
            <li><a th:href="@{'../'}" style="text-decoration: none;" >Home</a></li>
            <li><a th:href="@{'../authors/'}" style="text-decoration: none;"  >Authors</a></li>
            <li><a th:href="@{'../categories/'}" style="text-decoration: none;" >Categories</a></li>
            <li><a th:href="@{'../tags/'}" style="text-decoration: none;" a link="white" vlink="white" >Tags</a></li>
        </ul>
    </nav>
</div>

<div class="headimgtxt">
        <span class="border trans">
          FIGHT POSTS
        </span>
</div>

<main>
    <div class="body2" >
        <div th:each="post : ${manyPosts} " class="holdingcontainer">
            <ul>
                <h2><a th:text="${post.title}" th:href="@{'../posts/'+${post.title}}" style="text-decoration: none;">Just Izzy</a></h2>
                <li><a th:text="${post.publishDate}" href="" style="text-decoration: none;">6/25/2020</a></li>
                <li><a th:text="${post.category}" th:href="@{'../categories/'+${post.category.name}}" style="text-decoration: none;">Fighters</a></li>
                <li><a th:text="${post.tag}" th:href="@{'../tags/'+${post.tag.name}}" style="text-decoration: none;">#Fightskills</a></li>
            </ul>
            <p th:text="${post.description}"> Since his early MMA fighting days Israel Adesanya was recognized as a star on the rise or at least one to watch.
                Today we can say that has come to pass three times over. Reigning champion and looking to rise beyond the
                highlights of the UFC.
                He has somehow stayed himself despite being touted as one of the more arrogant or cocky fighters of the past
                decade. An avid anime fan and dubbed the Last Stylebender. Israel Adesanya has a way of fighting all his own.
                The Nigerian born Kiwi strikes with a percision and ferocity unlike any other. His lengthy build distracts
                his opponents from his power, an attribute that lends itself well to the knockout artist.
                Come Saturday, the procession heads into Madison Square Garden, where he'll take on fellow middleweight
                Derek Brunson at UFC 230. But he won't be a tourist there. He'll be The Last Stylebender, and you'll be
                the one who needs a camera. The undefeated striking virtuoso has amassed 12 MMA knockouts and a massive
                cult following. With a big win Saturday, that following could spill into the mainstream.</p>
            <a th:text="${post.author}" th:href="@{'../authors/'+${post.author.firstName}+${post.author.lastName}}">Jim Ross</a>
        </div>

<!--        <div class="holdingcontainer2">-->
<!--            <h2>Entry 2</h2>-->
<!--            <ul>-->
<!--                <h2><a href="" style="text-decoration: none;">Octagon Quarantine</a></h2>-->
<!--                <li><a href="" style="text-decoration: none;">6/29/2020</a></li>-->
<!--                <li><a href="" style="text-decoration: none;">Fights</a></li>-->
<!--                <li><a href="" style="text-decoration: none;">#recentfights</a></li>-->
<!--            </ul>-->
<!--            <p>Covid-19 has affected too much of our everyday culture. So much so that the world will never be the same.-->
<!--                The UFC is not excluded from the effects of this outrageous disease. Earlier this month UFC Fight Night 117-->
<!--                and UFC 250 took place.-->
<!--                With many intersesting fights including skillfull submissions or technical striking. The recent UFC bouts-->
<!--                have not disappointed but something quite obvious is missing. The crowd aspect is completely gone and-->
<!--                fights that used to feel like grand stages for gladiators now feel closer to evening sparring at the gym.-->
<!--                Not to say that competition is bad, but the vibrance and grandeur is missing. We are still fortunate to have-->
<!--                quality commentary to compliment the fights which neither need go overlooked.-->
<!--                So what is next for the UFC? Or live sports in general? Hopefully the world can get through this pandemic-->
<!--                and some live event normalcy will return, tough to say when or if that will be. Elevation and fighter-->
<!--                grooming seem to go hand in hand with this MMA juggernaut, so it will come of no surprise when new greats-->
<!--                rise.</p>-->
<!--            <a href="">Garret K.</a>-->
<!--        </div>-->

<!--        <div class="holdingcontainer3">-->
<!--            <h2>Entry 3</h2>-->
<!--            <ul>-->
<!--                <h2><a href="" style="text-decoration: none;">Glory Days</a></h2>-->
<!--                <li><a href="" style="text-decoration: none;">6/23/2020</a></li>-->
<!--                <li><a href="" style="text-decoration: none;">Fights</a></li>-->
<!--                <li><a href="" style="text-decoration: none;">#legendaryfights</a></li>-->
<!--            </ul>-->
<!--            <p>The early days of UFC were filled with some of the most brutal KO's of and fights of any combat sport.-->
<!--                One to note is that of Mark "the Hammer" Coleman being knocked-out with a kick to the face-->
<!--                by Petey Williams.-->
<!--                That KO sticks out because it was before the UFC banned strikes by foot while fighters wore shoes.-->
<!--                Back in those days steroid regulation was shaky to put it plainly, so the overall brutality-->
<!--                was insane.-->
<!--                Dan Henderson's glorious KO of Michael Bisping is another standout. The on-going feud between the two-->
<!--                made that fight a million times more intense than it could have been. Bisping's trash talk sent Dan-->
<!--                Henderson into a rage which ended up back firing as Bisping went completely stiff from an absolute bomb-->
<!--                of a right hand.</p>-->
<!--            <a href="">David S.</a>-->
<!--        </div>-->

    </div>
</main>

<div class="wrapper">
    <div class="post-form">
        <div class="input-fields">
            <input type="text" class="input" placeholder="Title">
            <input type="text" class="input" placeholder="Date">
        </div>

        <div class="description">
            <textarea placeholder="Post"></textarea>
            <div ><a href="" style="text-decoration: none;">Submit</a></div>
        </div>
    </div>
</div>


<footer>
    <h1 class="logo-text"><span>Fight </span>Blog</h1>
    <span
    ><i class="fas-fa-envelope"></i> &nbsp;
              e-mail@notyet.com</span>
    <close> Images Owned by the UFC for ZUFFA. Not for profit use.</close>
</footer>
</body>
</html>