<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="../CSS/single-style.css"/>
</head>
<body a link="white" vlink="white">
<div class ="headimg">
    <nav>
        <ul>
            <li><a th:href="@{'../'}" style="text-decoration: none;" a link="white" vlink="white">Home</a></li>
            <li><a th:href="@{'../authors/'}" style="text-decoration: none;" a link="white" vlink="white">Authors</a></li>
            <li><a th:href="@{'../categories/'}" style="text-decoration: none;" a link="white" vlink="white">Categories</a></li>
            <li><a th:href="@{'../tags/'}" style="text-decoration: none;" a link="white" vlink="white">Tags</a></li>
        </ul>
    </nav>
</div>
<div class="headimgtxt">
    <span th:text="${singlePost.title}" class="border trans">JUST IZZY</span>
</div>

<div class="holdingcontainer">
    <h1 th:text="${singlePost.title}">Just Izzy</h1>
    <a th:text="${singlePost.author.name}" th:href="@{'../authors/'+${singlePost.author.name}}" class="class1" style="text-decoration: none;">Jim Ross</a>
    <p th:text="${singlePost.publishDate}" >June 6th, 2020</p>
    <p th:text="${singlePost.description}">
        Since his early MMA fighting days Israel Adesanya was recognized as a star on the rise or at least one to watch.
        Today we can say that has come to pass three times over. Reigning champion and looking to rise beyond the
        highlights of the UFC.
        He has somehow stayed himself despite being touted as one of the more arrogant or cocky fighters of the past
        decade. An avid anime fan and dubbed the Last Stylebender. Israel Adesanya has a way of fighting all his own.
        The Nigerian born Kiwi strikes with a precision and ferocity unlike any other. His lengthy build distracts
        his opponents from his power, an attribute that lends itself well to the knockout artist.
        Come Saturday, the procession heads into Madison Square Garden, where he'll take on fellow middleweight
        Derek Brunson at UFC 230. But he won't be a tourist there. He'll be The Last Stylebender, and you'll be
        the one who needs a camera. The undefeated striking virtuoso has amassed 12 MMA knockouts and a massive
        cult following. With a big win Saturday, that following could spill into the mainstream.
    </p>
    <a th:text="${singlePost.tag.name}" th:href="@{'../tags/'+${singlePost.tag.name}}" class="tags" style="text-decoration: none;">#Fighters</a>
</div>
<footer>
    <h1 class="logo-text"><span>Fight </span>Blog</h1>
    <span
    ><i class="fas-fa-envelope"></i> &nbsp;
              e-mail@notyet.com</span>
    <close> Images Owned by the UFC for ZUFFA. Not for profit use.</close>
</footer>
</body>
</html>