<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="../CSS/posts-style.css"/>
</head>
<body a link="black" vlink="black">
<div class ="headimg">
    <nav >
        <ul>
            <li><a th:href="@{'../'}" style="text-decoration: none;" >Home</a></li>
            <li><a th:href="@{'../authors/'}" style="text-decoration: none;"  >Authors</a></li>
            <li><a th:href="@{'../categories/'}" style="text-decoration: none;" >Categories</a></li>
            <li><a th:href="@{'../tags/'}" style="text-decoration: none;" a link="white" vlink="white" >Tags</a></li>
        </ul>
    </nav>
</div>

<div class="headimgtxt">
        <span class="border trans">
          FIGHT POSTS
        </span>
</div>

<main>
    <div class="body2" >
        <div th:each="post : ${manyPosts} " class="holdingcontainer">
            <ul>
                <h2><a th:text="${post.title}" th:href="@{'../posts/'+${post.title}}" style="text-decoration: none;">Just Izzy</a></h2>
                <li><a th:text="${post.publishDate}" href="" style="text-decoration: none;">6/25/2020</a></li>
                <li><a th:text="${post.category.name}" th:href="@{'../categories/'+${post.category.name}}" style="text-decoration: none;">Fighters</a></li>
                <li><a th:text="${post.tag.name}" th:href="@{'../tags/'+${post.tag.name}}" style="text-decoration: none;">#Fightskills</a></li>
            </ul>
            <p th:text="${post.description}"> Since his early MMA fighting days Israel Adesanya was recognized as a star on the rise or at least one to watch.
                Today we can say that has come to pass three times over. Reigning champion and looking to rise beyond the
                highlights of the UFC.
                He has somehow stayed himself despite being touted as one of the more arrogant or cocky fighters of the past
                decade. An avid anime fan and dubbed the Last Stylebender. Israel Adesanya has a way of fighting all his own.
                The Nigerian born Kiwi strikes with a percision and ferocity unlike any other. His lengthy build distracts
                his opponents from his power, an attribute that lends itself well to the knockout artist.
                Come Saturday, the procession heads into Madison Square Garden, where he'll take on fellow middleweight
                Derek Brunson at UFC 230. But he won't be a tourist there. He'll be The Last Stylebender, and you'll be
                the one who needs a camera. The undefeated striking virtuoso has amassed 12 MMA knockouts and a massive
                cult following. With a big win Saturday, that following could spill into the mainstream.</p>
            <a th:text="${post.author.firstName}+${post.author.lastName}" th:href="@{'../authors/'+${post.author.firstName}+${post.author.lastName}}">Jim Ross</a>
        </div>
    </div>
</main>

<div class="wrapper">
    <div class="post-form">
        <div class="input-fields">
            <input type="text" class="input" placeholder="Title">
            <input type="text" class="input" placeholder="Date">
        </div>

        <div class="description">
            <textarea placeholder="Post"></textarea>
            <div ><a href="" style="text-decoration: none;">Submit</a></div>
        </div>
    </div>
</div>


<footer>
    <h1 class="logo-text"><span>Fight </span>Blog</h1>
    <span
    ><i class="fas-fa-envelope"></i> &nbsp;
              e-mail@notyet.com</span>
    <close> Images Owned by the UFC for ZUFFA. Not for profit use.</close>
</footer>
</body>
</html>