<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="../CSS/tags-style.css"/>
</head>
<body>
<div class ="headimg">
    <nav>
        <ul>
            <li><a th:href="@{'../'}" style="text-decoration: none;">Home</a></li>
            <li><a th:href="@{'../posts/'}" style="text-decoration: none;">Posts</a></li>
            <li><a th:href="@{'../authors/'}" style="text-decoration: none;">Authors</a></li>
            <li><a th:href="@{'../categories/'}" style="text-decoration: none;">Categories</a></li>
        </ul>
    </nav>
</div>
<div class="headimgtxt">
    <span class="border trans">TAGS</span>
</div>

<main>
    <div class="holdingcontainer">
        <ul th:each="tag : ${tags}">
            <h2 th:text="${tag.name}">#Fights</h2>
            <li th:each="post : ${tag.posts}">
                <a th:text="${post.title}" th:href="@{'../posts/'+${post.title}}">Title of Post</a>
            </li>
        </ul>
    </div>
    <div class="holdingcontainer2">
        <form action="/tags/add" method="POST">
            <label>Add a Tag:</label>
            <input type="text" name="name">
            <button class="btn" type="submit">Submit</button>
        </form>
    </div>
</main>

<footer>
    <h1 class="logo-text"><span>Fight </span>Blog</h1>
    <span
    ><i class="fas-fa-envelope"></i> &nbsp;
              e-mail@notyet.com</span>
    <close> Images Owned by the UFC for ZUFFA. Not for profit use.</close>
</footer>
</body>
</html>